.card__container {
    max-width: 282px;
    background-color: white;
    border-radius: 10px;
    max-height: 391px;
}

@media screen and (max-width: 1024px) {
    .card__container {
  
    }
  }
  
  @media screen and (max-width: 768px) {
    .card__container {
  
    }
  }
  
  @media screen and (min-width: 320px) {
    .card__container {
    margin: 0 auto;
    }
  }
