.popup__subtitle {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
}

@media screen and (max-width: 768px) {
    .popup__subtitle {
        padding-bottom: 9px;
        margin-left: -2px;
    }
}