.header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #545454;
    max-width: 880px;
    width: 100%;
    margin: 45px auto 40px auto;
    height: 74px;
}

  
  @media screen and (max-width: 768px) {
    .header {
        max-height: 56px;
        margin: 28px auto 0 auto;

    }
  }